{% extends 'base.html.twig' %}

{% block content_body %}
<div class="container">
    {%  block carousel %}
    <!--Carousel Wrapper-->
    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">

        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            {% for picture in gallery %}
                {% if picture.article.id == article.id %}
                    {%  if picture.mainPicture == 1 %}
                        <div class="carousel-item active">
                            <div class="view">
                                <img class="d-block w-100" src="{{ asset('images/Upload/'~ picture.name ~'')}}" alt="Main slide">
                                <div class="mask rgba-black-light"></div>
                            </div>
                        </div>
                    {% else %}
                        <div class="carousel-item">
                            <div class="view">
                                <img class="d-block w-100" src="{{ asset('images/Upload/'~ picture.name ~'')}}" alt="Other slide">
                                <div class="mask rgba-black-strong"></div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Suivant</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Précédent</span>
        </a>
        <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->
{% endblock %}

{% block video %}
  {% for videos in video %}
      {% if videos.article.id == article.id %}
      <iframe width="560" height="315" src="{{videos.link}}"
      frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      {% endif %}
  {% endfor %}
{% endblock %}

    <h2><strong>{{ article.title }} </strong></h2>

    <div class="row">
      <h5>
    Par  {{ article.author.firstName }} publié le {{ article.publishedAt|date('Y-m-d') }}
    </div>
  </h5>
    <div class="row">
        <div class="col-12-narrower">
           <p> {{ article.content }} </p>
        </div>
    </div>
    {% block comment %}
        <div class="comment-container">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="page-header">Commentaires</h2>
                    <section class="comment-list">
                        <!-- First Comment -->
                        {% for comments in comment  %}
                            {% if comments.article.id == article.id %}
                        <article class="row">
                            <div class="col-md-2 col-sm-2 hidden-xs">
                                <figure class="thumbnail">
                                    <img class="img-responsive"  height="124" width="124"  src="{{ asset('images/users/'~ comments.authorId.picture ~'')}}" />
                                </figure>
                            </div>
                            <div class="col-md-10 col-sm-10">
                                <div class="panel panel-default arrow left">
                                    <div class="panel-body">
                                        <header class="text-left">
                                            <div class="comment-user"><i class="fa fa-user"></i> {{ comments.authorId.nickname }} {{ comments.authorId.firstName }}</div>
                                            <time class="comment-date" ><i class="fa fa-clock-o"></i> {{ comments.commentDate|date('Y-m-d') }}</time>
                                        </header>
                                        <div class="comment-post">
                                            <p>
                                                {{ comments.content }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       </article>
                            {% endif %}
                        {% endfor %}
                    </section>
                </div>
            </div>
            <!-- pagination comment -->
            {% block pagination %}

                {% if pageNumber > 0 %}
                <div class="col-6 center" >
                  <div class="commentPagination">
                    <p>  Page de commentaire : </p>
                   {% for i in 1..pageNumber  %}
                      {% if i == currentPage %}
                      <u>
                         <a href="{{path( "article_show", { slug: article.id, commentCurrentPage: loop.index })}}">
                           {{ loop.index }}
                         </a>
                       </u>
                     {% else %}

                         <a href="{{path( "article_show", { slug: article.id, commentCurrentPage: loop.index })}}" >
                           {{ loop.index }}
                         </a>
                     {% endif %}
                     -
                {% endfor %}

              </div>
            </div>
              {% endif %}

            {% endblock %}

            <!-- Add comment -->
            {% if is_granted('ROLE_ADMIN') %}

                <h1>Commenter </h1>
                {{ form_start(commentForm) }}
                {{ form_widget(commentForm) }}
                <button type="submit" class="btn btn-primary">Commenter</button>
                {{ form_end(commentForm) }}

            {%  endif %}
        </div>
</div>
    {% endblock %}
    {% endblock %}
