
{% extends 'content_base.html.twig' %}

   {% block title %}{{ article.title }}{% endblock %}
    {% block stylsheets %}
    {% endblock %}

{%  block content_body %}

    <body class="index is-preload">
    <div id="page-wrapper">

<div class="row">
    <div class="col-sm-12">
        <img class="show-article-img" src="{{ asset(article.picture) }}">
        <div class="show-article-title-container d-inline-block pl-3 align-middle">
            <span class="show-article-title ">{{ article.title }}</span>
            <br>
            <span class="align-left article-details"><img class="article-author-img rounded-circle" src="imageprofilecomm">   user.firstname   </span>
            <span class="pl-2 article-details">  {{ article.publishedAt|date('Y-m-d')}} </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="article-text">
            {{ article.content }}
        </div>
    </div>
</div>
<div class="row">

</div>
<div class="row">
    <div class="col-sm-12">
        <h3><i class="pr-3 fa fa-comment"></i> Commentaires</h3>

        <hr>

        <div class="row mb-5">
            <div class="col-sm-12">
                <img class="comment-img rounded-circle" src="image profile comm">
                <div class="comment-container d-inline-block pl-3 align-top">
                    <span class="commenter-name"> comment.content </span>
                    <div class="form-group">
                        <textarea class="form-control comment-form" id="articleText" rows="1"></textarea>
                    </div>
                    <button type="submit" class="btn btn-info">Comment</button>
                </div>
            </div>
        </div>

    </div>
</div>
    </div>
    </body>
{% endblock %}