<!DOCTYPE html>
<html>
<header id="header" class="alt">
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue!{% endblock title %}</title>
        {% block stylesheets %}
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
            <link rel="stylesheet" href="{{ asset('css/login.css') }}">
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
            <noscript> <link rel="stylesheet" href="{{ asset('css/noscript.css') }}"></noscript>

        {% endblock stylesheets%}

    <!-- Header peeek machin fait pas grand chose == class="{ app.session.flashbag.peek('success')|length > 0 ? '' : 'mb-5' }} -->
    {%  block Navbar %}
        <h1 id="logo"><a href="{{ path('app_homepage') }}">Snowtricks</a></h1>
        <nav id="nav" >
            <ul>
                <li class="current"><a href="{{ path('app_homepage') }}">Bienvenue</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="submenu">
                        <a  href="#">Administration</a>
                        <ul>
                            <li><a href="{{ path('admin_article_new') }}">Ajouter</a></li>
                            <li><a href="{{ path('admin_article_editList') }}">Editer</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('app_logout') }}" class="button primary">Déconnection</a></li>
                {% else %}
                    <li><a href="{{ path('app_login') }}" class="button primary">Se connecter</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endblock %}
    </header>
    <body>
    {% block body %}
        {% block content_body %}
        {% endblock %}
    {% endblock body%}
    <!-- Footer -->
    {% block footer %}
       {%  include ('footer.twig') %}
    {%  endblock footer %}
{% block script %}
    <!-- Scripts -->
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/jquery.dropotron.min.js') }}"></script>
    <script src="{{ asset('js/jquery.scrolly.min.js') }}"></script>
    <script src="{{ asset('js/jquery.scrollex.min.js') }}"></script>
    <script src="{{ asset('js/browser.min.js') }}"></script>
    <script src="{{ asset('js/breakpoints.min.js') }}"></script>
    <script src="{{ asset('js/util.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}
    </body>
</html>
